body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: rgb(28, 27, 27);
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  font-size: 40px;
  font-weight: 300;
}

#output {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}

.btn {
  flex-basis: calc(25% - 10px);
  margin: 5px;
  font-size: 32px;
  height: 72px;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  color: white;
}

.light,
.light:focus {
  background-color:#353b48;
}

.light:hover {
  background-color: #8890a5;
}

.orange,
.orange:focus {
  background-color: #ff9500;
}

.orange:hover {
  background-color: #7a4d0d;
}


.dark,
.dark:focus {
  background-color:  #273c75;
}

.dark:hover {
  background-color: #11164b;
}